body,
html {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #000000;
}

* {
  padding: 0;
  margin: 0;
}
[v-cloak] {
  display: none;
}
#protectBall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text {
  color: aliceblue;
}

.interface-bg {
  text-align: center;
}

.info{
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: space-around;
  width: 100%;
  font-size: 1rem;
}
.explain{
  text-align: center;
  padding: 1rem;
  color: #ffffff;
}

#bgStage {
  position: absolute;
  margin: 0 auto;
  background: radial-gradient(#004141, #000000);
  border: solid 0.3rem #333333;
  width: 400px;
}

#ballStage {
  position: relative;
  border: solid 0.3rem #333333;
  width: 400px;
}
.descript{
  padding:.5rem 1rem;
  color: #ffffff;
}
.descript p{
  padding: .4rem 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}
.descript div{
  color: #ffffff;
  font-size: .7rem;
}
em{
  color: red;
  font-weight: bold;
}